name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true
env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    #- name: Install aarch64 Rust target and cross toolchain
    #  run: |
    #    sudo apt-get update
    #    sudo apt-get install -y gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu libc6-dev-arm64-cross
    #    rustup target add aarch64-unknown-linux-gnu
    - name: Build
      run: cargo build --verbose --target aarch64-unknown-linux-gnu
    #- name: Run tests
      #run: cargo test --verbose --target aarch64-unknown-linux-gnu
